@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #8E8E8E;
    background: #FFF;
}

h2 {
    color: #000;
    font-family: KCC-Hanbit;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a, h6 {
    font-family: KCC-Hanbit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav {
    position: fixed;
    top: 19px;
    right: 208px;
}
.nav a {
    margin-left: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.logo {
    position: fixed;
    left: 81px;
    top: 15px;
}
.logo img {
    width: 110px;
    height: 30.53px;
}
.login {
    position: fixed;
    top: 7px;
    right: 36px;
}
.login a {
    display: inline-flex;
    padding: 12px 37px 11px 37px;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    background: #FFADE3;
    text-decoration: none;
    color: #fff;
}
/*피그마에 호버와 액션에 관한 디자인이 없으므로 일단 생략함.*/
#pos1 {
    position: fixed;
    top: 19px;
    right: 208px;
    text-decoration: none;
    color: #000;
    transform: translateY(-50%);
}
#pos2 {
    position: fixed;
    top: 19px;
    right: 331px;
    text-decoration: none;
    color: #000;
}
#pos3 {
    position: fixed;
    top: 19px;
    right: 471px;
    text-decoration: none;
    color: #000;
}
