@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #8E8E8E;
    background: #FFF;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-login {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.logo img {
    width: 110px;
    height: 30.53px;
    margin-top: 15px;
    margin-left: 81px;
}

.login a {
    display: inline-flex;
    padding: 12px 37px 11px 37px;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    background: #FFADE3;
    text-decoration: none;
    color: #fff;
    margin-left: 19px;
    margin-right: 36px;
}

h2 {
    color: #000;
    font-family: KCC-Hanbit;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

a, h6 {
    font-family: KCC-Hanbit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-top: 14px;
}

.container {
    position: relative;
}
.man {
    margin-top: 147px;
    margin-bottom: 152px;
    text-align: center;
    transform: translateX(65px);
}
.man img {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
}
.girl {
    margin-bottom: 268px;
    text-align: center;
    transform: translateX(-71px);
}
.girl img {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
}
.girl p {
    margin-top: 16px;
}
.star {
    margin-bottom: 302px;
    text-align: center;
    transform: translateX(30px);
}
.star img {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
}
.bot {
    margin-bottom: 285px;
    text-align: center;
}

.bot a {
    display: inline-block;
    border-radius: 13px;
    text-decoration: none;
    margin-top: 21px;
    text-align: center;
}
#bot-white {
    background-color: #FFADE3;
    color: #fff;
    padding: 19px 24px 18px 23px;
}
#bot-black {
    border: 2px solid #FFADE3;
    background-color: #fff;
    color: #000;
    padding: 19px 42px 18px 42px;
}
